.menu
    position: absolute
    transform: translateX(-25%)
    z-index: 1 // ?

.menuList
    margin: 0
    padding: 0.25rem
    border-radius: 5px
    background: #222
    list-style-type: none

.menuElement
    cursor: pointer
    margin: 0.5rem
    &:hover
        color: #ccc
