.titlebar,
.titlebar > div,
.user
    display: flex
    align-items: center
    gap: 0.75rem

.titlebar
    padding: 8px
    -webkit-app-region: drag
    justify-content: space-between
    background: var(--background-color)
    box-shadow: var(--default-shadow)
    button
        -webkit-app-region: no-drag
        cursor: pointer
        height: 24px
        filter: drop-shadow(var(--default-shadow))

button:hover path
    color: #ccc

.hide:hover path
    color: #2f80ed

.close:hover path
    color: #eb5757
