.window
    height: 100%
    padding: 20px
    background-color: rgba(0,0,0,.2)
.info
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin: 20px 0
    gap: 20px
    .title
        font-size: 60px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
    .status
        display: flex
        align-items: center
        text-align: right
        font-weight: bold
        flex-shrink: 0
        .gamers
            font-size: 30px
        .line
            margin: 0 16px
            height: 60px
            width: 1px
            background-color: #E8E9F3
        .count
            font-size: 48px
            .total
                font-size: 18px
                color: #bdbdbd

.console
    user-select: text

.content
    height: calc( 100% - 163px )

.buttons
    display: flex
    justify-content: flex-end
    gap: 10px
    margin-top: auto
    button
        cursor: pointer
        width: 180px
        height: 50px
        padding: 7px 19px
        border: 2px solid var(--primary-color)
        border-radius: 15px
        font-size: 20px
        outline: 0
        color: #fff
        box-shadow: var(--default-shadow)
        &:hover, &:disabled
            background-color: var(--primary-color)
pre
    overflow: auto
    margin-top: 20px
    height: 220px
    padding: 10px
    border-radius: 3px
    font-family: monospace
    background-color: rgba(8, 8, 8, 0.8)
.progress
    width: 500px
    height: 15px
    background-color: rgba(8, 8, 8, 0.5)
    border-radius: 7px
    overflow: hidden
    margin: 10px auto
.progress-line
    width: 0
    height: 100%
    background-color: var(--primary-color)
    transition-duration: .5s
.progress-info
    text-align: center
    margin-bottom: 10px
