@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

body
    background: url('../images/waves.png') no-repeat, url('../images/background.png')
    font-family: 'Comfortaa', cursive
    color: #fff
    margin: 0

.main
    height: calc(100vh - 40px)

*
    box-sizing: border-box
